#input{
    border-radius: 10px;
}

#search{
    border-radius: 10px;
    background: #10a344;
    color: #ffffff;
    border-color: #ffffff;
}

.kotak-pencarian{
    padding: 10px;
}

#pelanggan-terpilih{
    text-decoration: none;
    color: #ffffff;
}

#back-button{
    text-decoration: none;
    color: #ffffff;
    background: #c02e2e;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'calibri';
    border-radius: 10px;
    border-color: #ffffff;
    margin-right: 10px;
}

#penambahan{
    float: right;
}

#tambah{
    float: right;
    border-radius: 10px;
    padding: 3.5px;
    background: rgb(0, 102, 255);
    color: #ffffff;
    border-color: #ffffff;
    text-decoration: none;
}